h1 {
  color: #c0262c;
  font-size: 2.5em; /* 40/16=2.5 */
  border-bottom: #c0262c solid thin;
  padding-bottom: 7px;  /*espaçamento interno da parte de baixo*/
}

h2 {
  font-size: 1.75em; /* 28/16=1.75 */
  background: #c0262c url(../multimidia//back-bolinha.gif) repeat top center;   /*background imagem de bolinhas*/
  color: #fff;
  letter-spacing: 0.1em;    /*espaçamento entre as letras*/
  padding: 7px;     /*espaçamento interno*/
  width: 316px;     /*largura do elemento*/
}

p { /*paragrafo*/
  font-size: 1.1em;
  line-height: 1.3em; /*largura da linha*/
  text-align: justify;  /*texto justificado*/
}

p:first-line {  /*P primeira linha*/
  font-size: 1.17em;
  font-variant: small-caps;
  font-weight: bolder;  /*força da borda*/
  font-style: italic; /*estilo da fonte*/
}

hr {  /*Régua Horizontal - Horizontal Rule*/
  border-color: #c0262c;  /*cor da borda*/
}

body {
  font-family: Helvetica, Arial, sans-serif;  /*estilo do CORPO inteiro*/
}

/* página produtos - tabela */
#produtos table {
  width: 600px;
  margin: 50px auto 30px;
  text-align: center;
  border-collapse: collapse;
}

#produtos th,   /*especificidade de th e td*/
#produtos td {
  border: #999 solid 1px;
  padding: 5px;
}

table {
  border-collapse: collapse;    /*faz com que a linha da tabela se "grude"*/
}

tr {
  border-top: solid 3px #777;
  border-bottom: solid 3px #777;
}
/*DOIS selecionados ao mesmo tempo*/
th,
td {
  padding: 7px;
}

#produtos caption {
  background-color: #999;
  color: #fff;
  padding: 15px 0;
  font-size: 1.5em;
}
#produtos td[colspan] { /* selecionando somente td do tipo colspan */
  font-style: italic;
  font-weight: bold;
  color: #999;
}
#produtos tr:hover {  /*TR ao passar o cursor*/
  background-color: #feff76;
  font-weight: bolder;
  font-style: italic;
}

/* página boletim - formulário */
form{
    background-color: #999; /*cor do background*/
    margin: 30px 0;
    padding: 20px;
    border-radius: 0 15px;
}
input[type="submit"]{ /*selecionando o input submit "botao"*/
    background-color: #C0262C;
    background: linear-gradient(to bottom, #6b1516 0%,#c0262c 30%,#c0262c 70%,#6b1516 100%);    /*background direcionado de cima pra baixo*/
    border: none;
    border-radius: 30px;
    font-size: 1.2em;
    color: #fff;
    padding: 10px 30px;
    margin: 20px 0;
    text-shadow: 2px 2px 5px #000;  /*sombra do texto*/
    cursor: pointer;
}
input#nome, input#email{
    background-color: transparent;  /*background transparente*/
    border: none;
    border-bottom: #000 solid 1px;
    font-size: 1.2em;
    color: #fff;
    width: 800px;
}

/*trabalhando com estilos em outros navegadores para garantir o mesmo estilo em todos*/
::-webkit-input-placeholder{    /*  Chrome/Safari/Opera   */
    color: #ddd;  /* cor da fonte */
    font-style: italic;
    font-size: .8em;
}
::-moz-placeholder{     /*  Firefox  */
    color: #ddd;  /* cor da fonte */
    font-style: italic;
    font-size: .8em;
}
::-ms-input-placeholder{  /* IE */
    color: #ddd;  /* cor da fonte */
}
label{
  display: block; /*deixar em bloco*/
  margin-top: 7px; /*distanciamento externo de cima*/
  float: left;  /*flutuando à esquerda*/
  width: 60px;  /*largura*/
}